/node_modules
.idea/
npm-debug.log
/log
config.json
.history/
.vscode/


ffmpeg -y -f x11grab -draw_mouse 0 -i :99 -vcodec libx264 -pix_fmt yuv420p -vf crop=900:900:0:120 -preset ultrafast -r 60 -crf 15 -tune zerolatency -filter:a "volume=1.0" -c:a aac -strict experimental -ac 2 -b:a 192k




xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome -start-maximized https://www.youtube.com/watch?v=Gw4Y8tkZoiI > /dev/null

xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome -start-maximized https://threejs.org/examples/misc_animation_keys.html > /dev/null

xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --start-fullscreen --disable-infobars --disable-notifications https://get.webgl.org > /dev/null

xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications https://get.webgl.org > /dev/null

xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications --auto-open-devtools-for-tabs https://veast.io/glreact > /dev/null

xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications --auto-open-devtools-for-tabs https://veast.io/glreact > /dev/null


xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications --auto-open-devtools-for-tabs https://veast.io/glreact sleep 3 xdotool key Escape > /dev/null


xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications https://veast.io/glreact sleep 3 xdotool key f12 sleep 3 xdotool key Escape > /dev/null


xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications https://veast.io/glreact > /dev/null
xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications https://tyle.io/player/owfq05exkavhkx > /dev/null


xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --disable-infobars --disable-notifications chrome://gpu > /dev/null


xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications https://gl-react-cookbook.surge.sh/ > /dev/null


xdotool mousemove x y click 1


ffmpeg -y -f x11grab -draw_mouse 0 -video_size 1920x1080 -i :44+0,0 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency ~/dev/test-xvfb/test_2.mp4

ffmpeg -y -f x11grab -draw_mouse 0 -video_size 900x900 -i :44+0,300 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency ~/dev/test-xvfb/test_2.mp4

ffmpeg -y -f x11grab -draw_mouse 0 -video_size 900x900 -i :44+0,50 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency ~/dev/test-xvfb/test_4.mp4

ffmpeg -y -f x11grab -draw_mouse 0 -video_size 900x900 -i :44+0,50 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency ~/dev/test-xvfb/test_5.mp4

ffmpeg -y -f x11grab -draw_mouse 0 -video_size 1200x800 -i :44+0,50 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency ~/dev/test-xvfb/test_6.mp4

ffmpeg -y -f x11grab -draw_mouse 0 -video_size 1200x800 -i :44+0,0 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency ~/dev/test-xvfb/test_7.mp4

ffmpeg -y -f x11grab -draw_mouse 0 -video_size 900x900 -i :44+0,0 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency -filter:a "volume=1.0" -c:a aac -strict experimental -ac 2 -b:a 192k ~/dev/test-xvfb/test_1.mp4



ffmpeg -y -f x11grab -draw_mouse 0 -video_size 900x900 -i :44+0,120 -vcodec libx264 -pix_fmt yuv420p -preset ultrafast -r 60 -crf 15 -tune zerolatency -filter:a "volume=1.0" -c:a aac -strict experimental -ac 2 -b:a 192k ~/dev/test-xvfb/test_1.mp4

xvfb-run --listen-tcp --server-num 44 --auth-file /tmp/xvfb.auth -s "-ac -screen 0 1920x1080x24" google-chrome --window-size=1920,1080 --start-fullscreen --disable-infobars --disable-notifications https://test.tyle.io/player/r4goi5fmzwgox7 > /dev/null




ps -aux | less